@model WebApi.Areas.Super_Admin.Models.AddCommunityModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Add community";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4>Create a new Community.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictureUrl"></label>
                <input asp-for="PictureUrl" class="form-control" />
                <span asp-validation-for="PictureUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InfoUrl"></label>
                <input asp-for="InfoUrl" class="form-control" />
                <span asp-validation-for="InfoUrl" class="text-danger"></span>
            </div>
            
            
            <div class="row">
                <div class="form-group col">
                    <label asp-for="Longitude"></label>
                    <input asp-for="Longitude" type="number" class="form-control" />
                    <span asp-validation-for="Longitude" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="Latitude"></label>
                    <input asp-for="Latitude" type="number" class="form-control" />
                    <span asp-validation-for="Latitude" class="text-danger"></span>
                </div>
            </div>
            
            <div class="form-group col">
                <label asp-for="Radius"></label>
                <input asp-for="Radius" type="number" class="form-control" />
                <span asp-validation-for="Radius" class="text-danger"></span>
            </div>


            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-8">
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
          <strong>Click</strong> on the map to place a community.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="map" style="height: 500px"></div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxzS4IA4H5bvIzqeT_KEp6uCoJ6IJK6mM&callback=initMap&libraries=&v=weekly"
        async></script>
<script >
let map;
let marker;
let inputLng = document.getElementById("Longitude");
let inputLat = document.getElementById("Latitude");

    function initMap() {
         map = new google.maps.Map(document.getElementById("map"), {
             center: {lat: 0, lng: 0},
           zoom: 2,
         });
         
         map.addListener("click", (mapsMouseEvent) => {
            if (marker != null)
                marker.setMap(null);
            
            inputLat.value = mapsMouseEvent.latLng.toJSON().lat
            inputLng.value = mapsMouseEvent.latLng.toJSON().lng
             
            marker = new google.maps.Marker({
                position: mapsMouseEvent.latLng,
                map,
                label : '!'
            });
         });
    }
</script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}